{% extends "band/base.html" %}
{% load static %}
{% block heading %}Shrads Of Agony - About Us{% endblock %}
{% block content %}
	<main class="main-content">
				<div class="fullwidth-block inner-content">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="content">
									<br><br>
									<h2 class="entry-title">ABOUT US</h2>
									<figure class="featured-image">
										<img src="{% static 'band/images/git1.jpg' %}" alt="post image" height="550px">
									</figure>
									<p class="leading" style="font-family: Papyrus">It's a five piece Band started by group of musicians, influenced by the genre of "CLASSIC ROCK". We have performed at several places across Bangalore.</p>
									
									<p class="leading" style="font-family: Papyrus">The Band performs the cover songs from various international English Classic Rock Bands, and has plans of bringing up there own Album and releasing it to the market.</p>
									<p class="leading" style="font-family: Papyrus">We have got very good response from the crowd, in all the places where the Band has given its performance.</p>

									<h2 class="entry-title" style="color:#DA4708;">Our Team</h2>
									<ul>
										<li class="leading" style="font-family: Papyrus">HINDOL - LEAD VOCALS</li>
										<li class="leading" style="font-family: Papyrus">SHASHI KUMAR - VOCALS</li>
										<li class="leading" style="font-family: Papyrus">SACHIN BHAT - GUITARIST</li>
										<li class="leading" style="font-family: Papyrus">RAKSHITH KUMAR - BASS GUITAR</li>
										<li class="leading" style="font-family: Papyrus">RAKESH SIMHA - GUITARIST</li>
										<li class="leading" style="font-family: Papyrus">PAVAN KUMAR - DRUMS AND PERCUSSION</li>
									</ul>
								</div>
							</div>
						
	</main> <!-- .main-content -->
{% endblock content %}	